<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add A Book!</h1>
    <form action="/save/book" method = "POST">
        <label for="name">Name:</label>
        <input type="text" name="name">

        <label for="pages">Number Of Pages:</label>
        <input type="number" name="pages">

        <input type="submit" value="Submit">
    </form>
    <hr>
    <h2>All Books:</h2>
    {% for book in books %}
    <a href="/book/{{book.id}}"> {{book.name}} </a> <br>
    {% endfor %}
    <hr>
    <a href="/add/author">Home</a>
</body>
</html>