<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{current_user.first_name}} </h1>
    <h3>All Recipes Posted | <a href="/create/recipe">+ Create</a> | <a href="/logout">Logout</a> </h3> 
    <hr>
    <form action="/search", method = "POST">
        <label for="name">Search</label> 
        <input type="text" name="name">

        <input type="submit" value="Search">
    </form>
    <hr>
    {% for recipe in recipes %}
        <h2> Plate Name: {{recipe.name}} </h2>
        <!-- <p> Description: {{recipe.description}} </p>
        <p> Instructions: {{recipe.instructions}} </p>
        <p> Posted By: {{recipe.creator.first_name}} </p> -->
        <p> Actions: <a href="/view/recipe/{{recipe.id}}">View Recipe</a>  {% if recipe.creator.id == session["user_id"] %} | <a href="/edit/{{recipe.id}}">Edit</a> | <a href="/delete/{{recipe.id}}">Delete</a> {% endif %} </p>
        <hr>
    {% endfor %}
</body>
</html>