<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome, {{recipe.creator.first_name}} </h1>
    <h3> <a href="/home">Back To Recipes</a> <a href="/logout">Logout</a> </h3>
    <hr>
    <h2> {{recipe.name}} </h2>
    <p> Description: </p> 
    <p> {{recipe.description}}  </p>
    <p> Instructions: </p> 
    <p> {{recipe.instructions}}  </p>
    <p> Date Mate: </p> 
    <p> {{recipe.created_at}} </p>
</body>
</html>