<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for user in all_users %}
        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Created At: {{user.created_at}}</p>
        <a href="/edit/page/{{user.id}}">Update</a>
        <a href="/show/user/{{user.id}}">View User</a>
        <a href="/user/delete/{{user.id}}">Delete</a>
        <hr>
    {% endfor %}
    <a href="/">Add Friend</a>
</body>
</html>