<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Include Your Topping</h1>
    <form action="/save/topping" method = "POST">
        <label for="name">Topping:</label>
        <input type="text" name="name">

        <input type="submit" value="Submit">
    </form>
    <hr>
    <a href="/">Add Restaurant</a> |
    <a href="/add/pizza">Add A Pizza</a> |
    <a href="/existing/pizzas">View Existing Pizzas</a> |
    <a href="/existing/restaurants">View Existing Restaurants</a>
</body>
</html>