<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Restaurants</h1> 
    <br>
    
    <a href="/">Add Pizza Restaurant</a>
    <hr>
    
    <div>
        {% for restaurant in restaurants %}
        <a href="/restaurant/{{restaurant.id}}"> {{restaurant.name}} </a>
        {% endfor %}
    </div>
</body>
</html>