<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> {{restaurant.name}} </h1>
    {% for pizza in restaurant.pizzas %}
    <p> {{pizza.name}} </p>
    {% endfor %}
    <hr>
    <a href="/">Add Restaurant</a> |
    <a href="/existing/restaurants">Existing Restaurants</a> |
    <a href="/add/pizza">Add Pizza</a> |
    <a href="/existing/pizzas">Existing Pizzas</a>
</body>
</html>